/**
 * REG Parameters.
 *
 * Package: REG extension for SketchUp
 *
 * Copyright: © 2019 Samuel Tallet
 *
 * Licence: GNU General Public License 3.0
 */

* {

	font-family: Arial, sans-serif;
	font-size: 14px;

}

.reg-parameter {

	margin: 15px 10px;

}

.reg-parameter label {

	display: inline-block;
	width: 220px;

}

.reg-parameter select {

	width: 124px;

}

.reg-parameter input {

	width: 120px;

}

#reg-validate-button {

	float: right;

	position: relative;
	right: 32px;
	bottom: 0;

	background: linear-gradient(#f03e43, #aa0000);

	border: none;
	padding: 5px;

	color: #fdf7f6;

	letter-spacing: 1px;
	cursor: pointer;

}

#reg-validate-button:hover {

	transform: scale(1.2);

}
